// // Carousel ------------------------------------

.carousel-sst {
  --carousel-height: 550px;
  --carousel-item-height: 550px;
  height: var(--carousel-height) !important;

  position: relative;
  color: $text-color;

  .carousel-fixed-item {
    display: flex !important;
    top: calc(50% - 40px);
    bottom: auto !important;
    position: relative;
    right: 0 !important;

    a {
      padding: 6px;
      cursor: pointer;
      color: $text-color;
      position: absolute;
      box-shadow: none;
    }
    
    a.to-right{
        right: 24px !important;
    }
    a.to-left{
        left: 24px !important;
    }
    a:hover {
      background-color: var(--md-ref-palette-primary95);
    }

    
  }
  .carousel-item {
    padding-bottom: 32px;
     img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
    .gradient{
        background-image: linear-gradient(rgba(209, 54, 49, 0), #0a2337);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .text {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
        bottom: 60px;
        padding: 0 24px;
        font-size: $default-fontsize;
      }
  }
  .previous,
  .next {
    cursor: pointer;
  }
  .indicators {
    pointer-events: none;
    left: 24px;
    right: auto;
    z-index: 3;
    bottom: 10px !important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    .indicator-item.active {
      background-color: var(--md-sys-color-primary);
    }
    .indicator-item {
      background-color: var(--md-ref-palette-neutral90);
    }
  }

  @include mobile {
    --carousel-height: 650px;
    --carousel-item-height: 650px;
  }
}

.carousel.carousel-slider .carousel-fixed-item.with-indicators {
  bottom: 24px;
  right: 24px;
}



