// Utilitários ------------------------------------

// Cor texto ------------------------------------

.blue-deep-text {
  color: var(--blue-deep) !important;
}

.blue-light-text {
  color: var(--blue-light) !important;
}

.blue-green-text {
  color: var(--blue-green) !important;
}





// Gradiente Fundo ------------------------------------

.blue-light-to-blue-green-bg {
  background-image: var(--gradient-blue-light-to-blue-green);
}
.blue-green-to-blue-deep-bg {
  background-image: var(--gradient-blue-green-to-blue-deep);
}
.blue-light-to-blue-deep-bg {
  background-image: var(--gradient-blue-light-to-blue-deep);
}


// Cor Fundo ------------------------------------

.bg-blue-deep {
  background-color: var(--blue-deep);
}

.bg-blue-light {
  background-color: var(--blue-light);
}

.bg-blue-green {
  background-color: var(--blue-green);
}

.bg-green-light {
  background-color: var(--green-light);
}

// IMG ------------------------------------

.img--round {
  border-radius: $border-radius-lg;
  width: 100%;
  max-height: 320px;
  object-fit: cover;
  object-position: center;
}

.img--circle {
  @extend .img--round;
  border-radius: 50%;
}

.img--purple-shadow {
  box-shadow: 0px 0px 15px rgba(87, 88, 227, 0.15);
  border: 2px solid rgba(87, 88, 227, 0.15);
}

.round-lg {
  border-radius: $border-radius-lg;
}

.circle-m {
  width: 166px;
  height: 166px;
  object-fit: cover;
  object-position: center;
}

// Flex ALinhamento ------------------------------------

.flex--column {
  flex-direction: column;
  display: flex;
}

.flex--align-center {
  align-items: center;
  display: flex;
}

.flex--justify-center {
  justify-content: center;
  display: flex;
}

.flex--column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.flex--align-end {
  display: flex;
  align-items: end;
}

.flex--justify-between {
  justify-content: space-between !important;
  display: flex !important;
}

