
// Navbar
nav {

    background-color: var(--md-sys-color-surface);
    box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.08);
    color: var(--md-sys-color-on-background-light);
  
    #nav-mobile{
      @include tablet {
      padding-left: 0px;
      }
    }
  
    .brand-logo {
      display: flex;
      align-items: center;
      height: 100%;
      padding-top: 1px;
      img {
        max-width: 120px;
      }
    }
    span {
      color: var(--md-sys-color-on-background-light);
    }
    svg {
      fill: var(--md-sys-color-on-background-light) !important;
    }
    .sidenav-trigger span {
      font-size: 30px;
    }
    .sidenav-trigger:hover span{
      color: var(--md-sys-color-primary-light);
    }
    .sidenav-trigger:hover svg {
      fill: var(--md-sys-color-primary-light) !important;

    }
  
    ul:not(.dropdown-content) > li > a {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0 24px;
    }
    // li{
    //   background-color: var(--md-sys-color-surface);
  
    ul:not(.dropdown-content) > li > a:hover:not(.active) {
      background-color: var(--md-sys-color-surface);
    }
    .progress {
      border-radius: 0;
    }
  }
  