

// Timeline
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;

    .material-symbols-rounded{
      font-size: 16px;
      margin-left: 8px;
    }
  }
 
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    z-index: -3;
  }
  
  /* container-t around content */
  .container-t {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container-t::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: white;
    border: 4px solid var(--md-sys-color-primary-light);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container-t to the left */
  .left-t {
    left: 0;
  }
  
  /* Place the container-t to the right */
  .right-t {
    left: 50%;
  }
  
  /* Add arrows to the left container-t (pointing right) */
  .left-t::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container-t (pointing left) */
  .right-t::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for container-ts on the right side */
  .right-t::after {
    left: -13px;
  }
  
  /* The actual content */
  .content-t {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 2px 10px 0px #E8E8E8;

  }

  .content-t.left-t{
    padding-left: 0;
  }
  .content-t.right-t{
    padding-right: 0;
  }

  // Telas maiores que 768px
  @media screen and (min-width: 768px) {
    .container-t:not(:first-child){
      margin-top: -130px;
    }

  }

  
  /* Media queries - Responsive timeline on screens less than 768px wide */
  @media screen and (max-width: 768px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }
  
  /* Full-width container-ts */
    .container-t {
      width: 100%;
      padding-left: 70px;
      padding-right: 0;
    }
  
  /* Make sure that all arrows are pointing leftwards */
    .container-t::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }

    .content-t {
      padding: 16px !important;
      padding-top: 24px !important;
    }
  
  /* Make sure all circles are at the same spot */
    .left-t::after, .right-t::after {
      left: 18px;
    }
  
  /* Make all right container-ts behave like the left ones */
    .right-t {
      left: 0%;
    }
  }